<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>


    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/559ec15c26.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/stylesHome.css" rel="stylesheet"> 
    <link href="css/stylesRegister.css" rel="stylesheet">

</head>
<body>

    <header>

        <section class="encabezado">
            <div class="logo">
            <img src="/img/logo-mercado-liebre.svg" alt="">
            </div>

            
            <form>
                <div class="barra_y_lupa">    
                    <input type="text" placeholder="Buscar productos, marcas">         
                    <i class="fa-solid fa-magnifying-glass lupa"></i>
                </div>
            </form>

            <p class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
        
        <nav>

            <ul class="navegacion lista1" >

                <li><a href='#'>Ofertas</a></li>
                <li><a href='#'>Tiendas Oficiales</a></li>
                <li><a href='#'>Vender</a></li>
                <li><a href='#'>Ayuda</a></li>

            </ul>

            <ul class="navegacion lista2">

                <li><a href='/register'>Creá tu cuenta  </a><i class="fa-regular fa-id-card"></i></li>
                <li><a href='/login'>Ingresá  </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href='#'>Mis compras  </a><i class="fa-solid fa-basket-shopping"></i></li>

            </ul>

        </nav>

            <div class="icono_centrar">    
                <i class="fas fa-bars burger-menu"></i>
            </div>        
    
    </header>
    
    <div class="banner">
        <img src="/img/img-home-banner.jpg" alt="" width="100%"> 
    </div>

    <main>

        <!-- FORMULARIO DE REGISTRO -->
        <form action="/register" method="POST">
            <!-- <form action="/" method="GET"> -->

            <!-- NOMBRE Y APELLIDO -->
            <div>
                <label for="nombre-apellido" class="etiqueta"></label>
                <input type = "text" name="nombre-apellido" id="nombre-apellido" placeholder="Nombre y apellido" required class="campo-de-texto">
                <span class="feedback"></span>
            </div>

            <!-- NOMBRE DE USUARIO -->
            <div>
                <label for="nombre-usuario" class="etiqueta"></label>
                <input type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Nombre de usuario" required class="campo-de-texto">
                <span class="feedback"></span> 
            </div>

            <!-- FECHA DE NACIMIENTO -->
            <div>
                <label for="fecha-nacimiento" class="etiqueta">Fecha de Nacimiento</label>
                <input type="date" name="fecha-nacimiento"  id="fecha-nacimiento" value="yyyy-mm-dd" class="campo-de-texto">
            </div>

            <!-- DOMICILIO -->
            <div>
                <label for="domicilio" class="etiqueta"></label>
                <input type="text" name="domicilio" placeholder="Domicilio" class="campo-de-texto">
            </div>

            <!-- PERFIL USUARIO -->
            <div>    
                <label for="perfil-usuario" class="etiqueta">Perfil de Usuario</label>
                    <label class="radio-button"><input type="radio" name="perfil-usuario" value="Comprador"> Comprador</label>
                        
                    <label class="radio-button"><input type="radio" name="perfil-usuario" value="Vendedor"> Vendedor</label> 
                
            </div>

            <!-- CATEGORIAS DE INTERES -->

            <label for="cat-interes" class="etiqueta"><div class="cat-interes">Intereses</div>
                                        
                <div class="checkboxes">
                    <label><input type="checkbox" name="cat-interes" value="Electro"> Electro</label>
                    
                    <label><input type="checkbox" name="cat-interes" value="Moda"> Moda</label>
                        
                    <label><input type="checkbox" name="cat-interes" value="Hogar"> Hogar</label>
                        
                    <label><input type="checkbox" name="cat-interes" value="Juguetería"> Juguetería</label>
                        
                    <label><input type="checkbox" name="cat-interes" value="Vida sana"> Vida sana</label>
                </div>
            </label>

            <!-- FOTO DE USUARIO -->
            <div>
                <label class="etiqueta"> Foto</label>
                <input type = "file" name = "foto-usuario">
            </div>

            <!-- CONTRASEÑA -->
            <div>
                <label class="etiqueta"></label>
                <input type = "password" name = "password" required class="campo-de-texto" placeholder="Contraseña">
                <span class="feedback"></span> 
            </div>

            <!-- CONFIRMAR CONTRASEÑA -->
            <div>
                <label class="etiqueta"></label>
                <input type = "password" name = "password" required class="campo-de-texto" placeholder="Confirmar contraseña">
                <span class="feedback"></span> 
            </div>

            <!-- BOTON BORRAR -->
            <button type="reset">Borrar</button>

            <!-- BOTON ENVIAR -->
            <button type="submit">Enviar</button>
        
        </form>
        
    </main>

    <footer>
    <div>
        <article class="article_footer">
            <i class="fa-sharp fa-solid fa-credit-card icono_footer"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        
        <article class="article_footer">
            <i class="fa-solid fa-gift icono_footer"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        
        <article class="article_footer">
            <i class="fa-solid fa-user-shield icono_footer"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
    </div> 
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>